*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  font-size: 16px;
}

html,
body {
  margin: 0 auto;
}

body {
  background-color: #fd4335;
  font-family: "Space Mono", monospace;
  color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px 30px 0;
}

header i {
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

@media all and (max-width: 600px) {
  header i {
    font-size: 2rem;
  }
}

header i:hover {
  color: black;
}

header ul {
  margin: 0 auto;
}

@media all and (max-width: 600px) {
  header ul {
    margin: 0;
  }
}

header ul li {
  list-style: none;
  color: white;
  font-size: 1.5rem;
  font-family: "Space Mono", monospace;
  cursor: pointer;
}

header ul li:nth-child(1) {
  text-decoration: underline;
}

header ul li:hover {
  color: black;
}

img {
  width: 100%;
  opacity: 0.7;
  -webkit-filter: grayscale(100%) contrast(200%);
          filter: grayscale(100%) contrast(200%);
  mix-blend-mode: multiply;
}

main {
  padding: 0 5% 5%;
}

main #hero {
  width: 100%;
  position: relative;
}

main #hero h1 {
  text-transform: uppercase;
  font-size: 7rem;
  width: 30%;
  margin: 0;
}

@media all and (max-width: 600px) {
  main #hero h1 {
    font-size: 4rem;
    padding: 15% 0;
  }
}

@media all and (min-width: 1100px) {
  main #hero h1 {
    font-size: 10rem;
  }
}

main #hero .hero-img-cont {
  position: absolute;
  z-index: -1;
  top: 3%;
  margin-left: 20%;
  background-color: #fd4335;
}

main #hero .hero-img-cont p {
  margin: 0;
  text-align: right;
  color: black;
}

main #hero .hero-img-cont .img-comment {
  text-align: left;
  font-size: 0.6rem;
}

main #hero .hero-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main #hero .hero-comment p {
  width: 40%;
  font-size: 1.6rem;
}

@media all and (max-width: 600px) {
  main #hero .hero-comment p {
    width: 100%;
  }
}

@media all and (min-width: 1100px) {
  main #hero .hero-comment p {
    font-size: 3rem;
  }
}

main #hero .description {
  width: 50%;
  padding: 5% 0;
}

@media all and (max-width: 600px) {
  main #hero .description {
    width: 100%;
  }
}

main #hero .description p {
  font-size: 0.75rem;
}

@media all and (min-width: 1100px) {
  main #hero .description p {
    font-size: 1.1rem;
  }
}

main #people .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #people .columns .column {
  width: 48%;
}

main #people .columns .column .img-bg {
  background-color: #fd4335;
}

@media all and (max-width: 600px) {
  main #people .columns .column {
    width: 100%;
  }
}

main #people .columns .column h3 {
  font-size: 1.6rem;
}

footer {
  padding: 5%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

footer .right-foot input[type=email] {
  margin: 0 0 0.8rem 0;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  padding: 0.2rem 0;
  font-size: 1rem;
  background: transparent;
  color: #fff;
}

footer #vertical {
  position: absolute;
  right: 5%;
  bottom: 10%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
}
/*# sourceMappingURL=main.css.map */